# Manuscript output
manuscript/*.docx
manuscript/*.html
manuscript/*.pdf
manuscript/*.tex
manuscript/tex-out/*
manuscript/vc*

# Other folders
Administration
data
!output/*.pdf
*.indd

# R stuff
.Rproj.user
.Rhistory
*_cache
*_files

# Miscellaneous
.DS_Store
